
@{
    ViewBag.Title = "MainPage";
}
<body style="background-color:brown">
    <centre> <h2 style="color:blueviolet">MY PHONE BOOK APPLICATION</h2> </centre>
    <br />
    <div class="container">
        <img align="left" src="~/Image/ammu.png" width="100" height="100" />
        <div class="text-left">
            <h6>
                Developed By:Pathan Amreena
            </h6>

        </div>
    </div>
    <div>
        <h4>
            ADMIN INFO:
        </h4>
        <p>
            Name :Amreena
            <br />
            SapId:51902795
        </p>
    </div>

    <br />
    <a href="~/PhoneBook/Categories">View Categories</a>
    <br/>
    <a href="~/PhoneBook/ContactDetails">View Contacts</a>

</body>

